.product-heading,
.product-body {
  color: var(--color-primary);
}

.product-button {
  background: var(--color-primary);
  color: white;
  transition: all .5s;
}

.product-card:hover .product-button {
  background: var(--gradient);
  transition: all .5s;
}
.product-card:hover .product-heading {
  color: var(--color-secondary);
}



.product-image {
  background-image: url(../../images/doggo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-card {
  background-color: white;
}
