.input-field {
  color: white;
  background-color: var(--color-primary);
  transition: var(--transition);
  border-style: solid;
  border-width: var(--border-width);
  transition: var(--transition);
  border-color: var(--color-primary);
}

.input-field:focus,
.input-field:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background-color: white;
}
