.intro-banner {
  color: white;
  background-color: var(--color-primary-light);
}

.bg-list {
  background: url(../../images/adopt-banner.jpg);
  background-size: cover;
  background-position: center;
}

.bg-checkout {
  background: url(../../images/form-banner.jpg);
  background-size: cover;
  background-position: center;
}

.bg-product {
  background: url(../../images/background.jpg);
  background-size: cover;
  background-position: center;
}

.color-2 {
  background-color: var(--color-accent-gold);
}

.section-1 span {
  border-bottom: var(--border-width) solid;
}

.section-2 {

}

.section-2 h2 {
  color: white;
  background-color: var(--color-secondary);
}

.section-highlight p{
  color: var(--color-primary);
}

.text-banner {
  color: white;
}

.section-image-left,
.section-image-right {
  color: var(--color-primary);
}
