.intro-banner {
  color: white;
  background-color: var(--color-primary-light);
}

h1 {
  color: white;
  border-bottom: var(--border-width) solid;
}

.section-1 {
  background-color: var(--color-neutral-beige);
}

.color-2 {
  background-color: var(--color-accent-gold);
}

.section-1 span {
  border-bottom: var(--border-width) solid;
}

.section-2 {

}

.section-2 h2 {
  color: white;
  background-color: var(--color-secondary);
}

.section-highlight p{
  color: var(--color-primary);
}

html {
  background-color: var(--color-neutral-beige);
}
